body {
  background-color: #1d53dd;
  font-family: "Courier New", Courier, monospace;
  align-items: center;
  display: flex;
  justify-content: center;
  height: 100vh;
  margin: 0;
}

#weather-container {
  background-color: rgba(255, 255, 255, 0.3);
  max-width: 400px;
  padding: 20px;
  border-radius: 15px;
  box-shadow: 0 8px 32px rgba(0, 0, 0, 0.3);
  border: 1px solid rgba(255, 255, 255, 0.1);
  text-align: center;
}

h2,
p {
  color: #fff;
  margin: 8px 0px;
}

input {
  box-sizing: border-box;
  width: 100%;
  padding: 8px;
  border-radius: 10px;
  border: 1px solid white;
  margin-top: 20px;
}

button {
  background-color: gray;
  color: white;
  padding: 10px;
  border: none;
  border-radius: 10px;
  cursor: pointer;
  margin-top: 20px;
  width: 100px;
  font-size: 15px;
  transition: background-color 300ms ease;
}

button:hover {
  background-color: #1d53dd;
}

#temperature-div p {
  font-size: 50px;
  margin-top: -20px;
}

#weather-info {
  font-size: 20px;
}

#weather-icon {
  width: 200px;
  margin: 0 auto;
  height: 200px;
  display: none;
}

#forecast {
  margin-top: 50px;
  overflow-x: auto;
  white-space: no-wrap;
  display: flex;
  justify-content: space-between;
  padding: 15px;
}

.forecast-item {
  color: white;
  flex: 0 0 auto;
  width: 80px;
  display: flex;
  flex-direction: column;
  align-items: center;
}

@media (max-width: 600px) {
  #weather-container {
    width: 80%;
  }
}
